<!doctype html>
<html ng-app="sumApp">
  <head>
    <title>AngularJS Sum Directive</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>

  <body ng-controller="SumController">
    <h2>Enter Two Numbers</h2>

    <label>Number 1:</label>
    <input type="number" ng-model="num1" /><br /><br />

    <label>Number 2:</label>
    <input type="number" ng-model="num2" /><br /><br />

    <!-- invoke directive as comment -->
    <!-- directive: sum-display -->

    <script>
      var app = angular.module("sumApp", []);

      app.controller("SumController", function ($scope) {
        $scope.num1 = 0;
        $scope.num2 = 0;
      });

      app.directive("sumDisplay", function () {
        return {
          restrict: "M",
          replace: true,
          template: "<div><h3>Sum: {{ num1 + num2 }}</h3></div>",
        };
      });
    </script>
  </body>
</html>
